html {
  font-size: 16px;
}

body {
  margin: 0;
}

main {
  width: 100%;
}
.graybox {background-color: lightgray;}

.column {
  flex-direction: column;
}

.column h1 {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.main-banner h1 {
  display: block;
}

/*Header*/

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem 0px 1rem;
}

header li {
  display: inline;
  margin: 0px 0.5rem 0px 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

/*Banners General*/

.main-banner {
  display: flex;
  padding: 2rem 1.5rem;
}

.main-banner .left {
  width: 60%;
  margin-right: 1.5rem;
}

.main-banner .right {
  width: 40%;
  height: auto;
}

.main-banner img {
  width: 100%;
  height: auto;
}

/*Top Banner*/

#start .right {
  width: 30%;
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#start h4 {
  text-align: center;
  background-color: gray;
  padding: 0.5rem;
}

/*Keep Practicing Banner*/


#practicing .text-container h2 {
  margin: 2rem 0 1.5rem 0;
}

.flag {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.flag .img {
  width: 35%;
  max-height: 100%;
  margin: 1rem;
}

.flag img {
  width: 100%;
  height: auto;
}

.flaginfo {
  width: 65%;
}

.flaginfo a, #topic, #deets {
  display: block;
}

#orientation .img {
  margin-top: 0px;
}

#orientation {
  padding-top: 0px;
}

/*Learning Section*/

#learning {
  padding: 2rem 3.75rem;

}

.learning-content {
  margin: 0 auto;
}

.course {
  width: 33.33%;
  background-color: white;
  margin: 1rem;
}

.info {
  background-color: white;
  padding: 1rem;
}

.info span {
  display: block;
}

.row {
  display: flex;
  margin-top: 2rem;
}


footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

.terms span {
  margin-left: 0.5rem;
}
