html {
  font-size: 16px;
  font-family: arial;
}

body {
  margin: 0;
  font-size: 1rem;
}

main {
  width: 100%;
}

.graybox {background-color: lightgray;}

.column {
  flex-direction: column;
}

/*Header*/

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1rem;
  font-size: 1.25rem;
}

header li {
  display: inline;
  margin: 0px 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

/*Main-Banner General*/

.main-banner {
  display: flex;
  padding: 2rem 1.5rem;
}

.main-banner .left {
  width: 60%;
  margin-right: 1.5rem;
}

.main-banner .right {
  width: 40%;
}

.left img {
  width: 100%;
  height: auto;
}

/*Top Banner*/

#start {
  align-items: center;
}

#start .right {
  width: 30%;
  margin-left: 0.75rem;
}

#start h4 {
  text-align: center;
  background-color: gray;
  padding: 0.5rem;
  font-size: 1rem;
}

#start h3 {
  font-size: 1.5rem;
}

#start h2 {
  font-size: 2rem;
}

/*Keep Practicing Banner*/

#practicing {
  align-items: flex-start;
}

#practicing .text-container h2 {
  margin: 2rem 0 1.5rem 0;
}

#practicing .right {
  position: relative;
  bottom: 1rem;
}

#practicing .flag {
  width: 100%;
}

.flag {
  display: flex;
  align-items: center;
}

.flag .img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.flag img {
  width: 100%;
  height: auto;
}

.flaginfo {
  width: 65%;
}

.flaginfo a, #topic, #deets {
  display: block;
}

#topic, #deets {
  margin-bottom: 0.5rem;
  display: block;
}

#topic {
  font-size: 1.25rem;
}

#deets {
  font-size: 1rem;
}



/*Learning Section*/

#learning {
  padding: 2rem 3.75rem;
}

#learning h1 {
  text-align: center;
  margin: 0 auto;
}

#learning img {
  width: 100%;
  height: auto;
}

.course {
  width: 33.33%;
  background-color: white;
  margin: 1rem;
}

.info {
  background-color: white;
  padding: 1rem;
}

.info span {
  display: block;
}

#subject {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  margin-top: 2rem;
}

/*Thesis Banner*/

#thesis {
  align-items: flex-start;
}

#thesis .flag {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

.terms span {
  margin-left: 0.5rem;
}


/*Media Queries*/

@media only screen and (max-width: 750px){

.main-banner {
  width: auto;
  display: block;
  padding: 0;
}

.main {
  width: auto;
}

#start .left {
  width: auto;
  margin: 0;
  padding: 0;
}

#start .right {
  width: auto;
  margin: 1rem 0;
  padding: 1rem;

}

#start h4 {
  color: white;
}


#practicing .left {
  display: none;
}

#practicing .right {
  padding: 1rem;
  position: static;
  width: auto;

}

.flag {
  display: block;
  width: auto;
  margin-bottom: 4rem;
  background-color: white;
}

.flag .img {
  display: none;
}

.flag img {
  width: 100%;
  height: auto;
}

.flaginfo {
  margin-top: 2rem;
  padding-left: 1rem;
  width: 100%;
}

#learning {
  background-color: white;
  display: block;
  padding: 0;
}

.info {
  width: auto;
}

.course {
  width: 100%;
  margin: 0 auto;
}

#courses, .info p {
  display: none;
}

.row {
  display: block;
  width: 100%;
}

.course .img {
  display: none;
}

#subject {
  background-color: gray;
  width: auto;
  padding: 2rem;
}

#thesis .right, #thesis .left h2, #thesis .left p {
  display: none;
}

#thesis {
  width: auto;
}

#thesis h1 {
  text-align: center;
}

#thesis .left {
  margin: 0 auto;
}

.row {
  margin: 0;
}

}

@media only screen and (min-width: 751px){
  .mobile-img {
    display: none;
  }

}
